* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: #f5f7fa;
}

/* Navbar */
.navbar {
	display: flex;
	padding: 10px 0;
	justify-content: space-around;
	width: 100%;
	height: 44px;
}

.navbar i {
	font-size: 1.5rem;
	color: #dadfe6;
}

.navbar i:nth-child(1) {
	color: #fe466d;
}

.photo-and-actions {
	height: calc(100vh - 44px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Photo */
.photo {
	width: 98vw;
	height: 85vh;
	background: url('../img/girl.jpeg') center center/cover;
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	color: #eee;
	box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

.photo-text {
	padding: 15px;
	background: rgb(2, 0, 36);
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(35, 34, 65, 0) 0%,
		rgba(0, 0, 0, 0.7) 52%
	);
	border-radius: 10px;
}

.photo-name-and-age {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}

.photo-name-and-age h2 {
	font-size: 1.8rem;
}

.photo-name-and-age h2:nth-child(2) {
	margin-left: 10px;
	font-weight: 500;
}

.photo-bio {
	line-height: 1.7rem;
	font-weight: 500;
	font-size: 1.1rem;
}

/* Actions */
.actions {
	flex: auto;
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	font-size: 2rem;
	box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
}

.actions .action:nth-child(1) {
	color: #fd5068;
}

.actions .action:nth-child(2) {
	height: 48px;
	width: 48px;
	font-size: 1.5rem;
	margin: 0 1rem;
	color: #2db1ff;
}

.actions .action:nth-child(3) {
	color: #1be4a1;
}

/* 1025px or more */
@media (min-width: 1025px) {
	.photo {
		width: 367px;
		height: 684px;
	}

	.actions {
		flex: initial;
	}

	.photo-and-actions {
		justify-content: center;
	}

	.navbar {
		width: 400px;
		margin: auto;
	}
}
